{% extends 'base.html.twig' %}

{% block title %}Règles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rules.css') }}">
{% endblock %}

{% block body %}
    <div class="rules">
        <h1>Règles du jeu</h1>
        <p>Voici les règles du jeu...</p>
    </div>
{% endblock %}