{% extends 'base.html.twig' %}

{% block title %}Règles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rules.css') }}">
{% endblock %}

{% block body %}
    <h1>Règles du jeu</h1>
{% endblock %}