<h2>Les règles du jeu <small>(7 à 20 personnes)</small></h2>

<h2>Sommaire</h2>

{# en navbar comme OVCE #}
{# <ol type="I">
    <li><a href="#But">But du jeu</a></li>
    <li><a href="#Materiel">Matériel</a></li>
    <li><a href="#Cartes">Les Cartes</a></li>
    <li><a href="#Distribution">Distribution des cartes</a></li>
    <li><a href="#Partie">Déroulement d’une partie</a></li>
    <ol>
        <li><a href="#Place">Mise en place</a></li>
        <li><a href="#Voyage">Premier Voyage</a></li>
        <li><a href="#Suite">Suite de la partie</a></li>
        <li><a href="#Conditions">Conditions de Victoire</a></li>
    </ol>
</ol> #}

{# sur le site direct #}
{# <p>
Quelque part en pleine Mer, un groupe de Marins est chargé de transporter un Trésor, mais des pirates ont peut-être infiltré leur équipage afin de le voler.
<br>
Entre tempête, mal de mer, sirènes, trahisons et autres dangers, le trésor arrivera-t-il à bon port ?
</p> #}

{# <h3 id="But">But du jeu</h3>
<ul>
    <li>Pour les Marins et la Sirène : Identifier les pirates afin de choisir le bon équipage, pour pouvoir mettre le trésor en lieu sûr</li>
    <li>Pour les Pirates : Gagner la confiance des Marins et les empoisonner afin de voler le trésor</li>
</ul> #}

<h3 id="Materiel">Matériel (54 Cartes dont deux cartes «règle du jeu»)</h3>

<table>
    <thead>
        <tr>
            <th>Quantité</th>
            <th>Éléments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>Marins</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Îles</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Antidote</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Voyage express</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Mal de mer</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Pirates</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Poissons</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Tribord</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Par-dessus bord</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Perroquet</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Sirène</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Mer agitée</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Amarrage</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Observateur</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Troc</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Charlatan</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Carte au trésor</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Double</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Malandrin</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Léviathan</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Typhon</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Chanceux</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Marchand</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Médusa</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Solitaire</td>
        </tr>
    </tbody>
</table>

<h3 id="Cartes">Cartes</h3>
<!-- Insérer un lien vers les cartes -->

<h3 id="Distribution">Distribution des cartes</h3>
<table>
    <thead>
        <tr>
            <th>Joueurs</th>
            <th>Pirates</th>
            <th>Marins</th>
            <th>Sirène</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>7</td><td>3</td><td>3</td><td>1</td></tr>
        <tr><td>8</td><td>3</td><td>4</td><td>1</td></tr>
        <tr><td>9</td><td>4</td><td>4</td><td>1</td></tr>
        <tr><td>10</td><td>4</td><td>5</td><td>1</td></tr>
        <tr><td>11</td><td>5</td><td>5</td><td>1</td></tr>
        <tr><td>12</td><td>5</td><td>6</td><td>1</td></tr>
        <tr><td>13</td><td>6</td><td>6</td><td>1</td></tr>
        <tr><td>14</td><td>6</td><td>7</td><td>1</td></tr>
        <tr><td>15</td><td>7</td><td>7</td><td>1</td></tr>
        <tr><td>16</td><td>7</td><td>8</td><td>1</td></tr>
        <tr><td>17</td><td>8</td><td>8</td><td>1</td></tr>
        <tr><td>18</td><td>8</td><td>9</td><td>1</td></tr>
        <tr><td>19</td><td>9</td><td>9</td><td>1</td></tr>
        <tr><td>20</td><td>9</td><td>10</td><td>1</td></tr>
    </tbody>
</table>

<p>Il faut également donner une carte bonus à chaque joueur</p>

<h3 id="Partie">Déroulement d’une partie</h3>

<h4 id="Place">Mise en place</h4>

<ul>
    <li>Les joueurs désignent ou tirent au sort le capitaine, il dirigera le début de la partie et jouera également.</li>
    <li>Le capitaine distribue à chaque joueur une carte rôle et une carte bonus. Chaque joueur regarde discrètement son rôle et sa carte bonus puis repose ses cartes face cachées devant lui.</li>
    <li>Le capitaine demande aux joueurs de fermer les yeux. Tous les joueurs baissent la tête et ferment les yeux (le capitaine aussi). Puis il appelle les pirates et à la sirène à ouvrir les yeux (le capitaine ouvrira les yeux s’il a un de ses rôles) et leur laisse suffisamment de temps pour se regarder.</li>
    <li>Il demande à tout le monde de fermer les yeux.</li>
    <li>Et pour finir il va demander à tout le monde de réouvrir les yeux.</li>
</ul>
<p>Attention : Vous ne fermerez plus les yeux par la suite, retenez bien qui a ouvert les yeux.</p>

<h4 id="Voyage">Premier voyage</h4>
<p>Le capitaine choisi un équipage de trois personnes (dont il peut faire parti), il faut maintenant donner une carte poison et une carte île à chaque personne de l’équipage.</p>
<p>Chaque participant choisit la carte qu’il veut poser et la met au milieu en face cachée, il place la carte non utilisée devant lui, toujours en face cachée.</p>
<p>Un joueur mélange les cartes mises en jeu et les retournes.</p>
<p>S’il y a au moins une carte poison les pirates marquent un point, s’il y a trois cartes îles c’est les marins et la sirène qui remportent le point.</p>
<p>Le résultat étant connu, il faut récupérer toutes les cartes en face cachée, les mélanger et les redistribuer lors du prochain voyage.</p>

<h4 id="Suite">Suite de la partie</h4>
<p>C’est le joueur suivant, dans le sens des aiguilles d’une montre, qui doit à nouveau choisir un équipage de trois personnes.</p>

<p><b>ATTENTION !</b> A partir de ce tour et jusqu’à la fin de la partie il y aura un vote lorsque trois personnes seront proposées. (La personne qui propose l’équipage est forcément pour)</p>

<p>Si la majorité des joueurs (ou au moins la moitié en cas de joueurs pair) est contre, l’équipage ne part pas et la personne peut proposer un nouvel équipage, qui sera différent d’au moins une personne.</p>

<p>Si l’équipage est à nouveau refusé, la personne qui les a choisis passera son tour.</p>

<p>Vous pouvez maintenant réitérer ce schéma jusqu’à la victoire d’une équipe, sans oublié d’utiliser vos cartes bonus à bon escient.</p>

<h4 id="Conditions">Conditions de Victoire</h4>
<p>Une équipe gagne dès qu’elle remporte dix manches.
<br>
<p>Si les marins gagnent, la Sirène gagne avec eux. Si les pirates gagnent, ils doivent voter afin d’identifier la sirène, si la majorité se trompent la sirène gagne la partie seule.</p></p>