h1 {
    text-align: center;
    margin: 0;
    padding: 1em;
    text-transform: uppercase;
}

.margin-container h2 {
    margin-left: 3em;
}

/*-------------- Packs --------------*/

.packs {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em; */
    /* avant */
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.packs-item {
    padding: 1em;
    background: url("../assets/white-background.svg");
    border-radius: 1em;
    /* margin: 1em; */
    /* avant */
    width: calc((100% - 5rem) / 3);
}

.packs-item h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.packs-item a {
    width: 100%;
    display: block;
    padding-bottom: 1em;
}

.packs-item a,
.news-item a,
.events-item a {
    text-decoration: none;
    color: black;
}

.packs-item img {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
}

/*-------------- Individual Pack --------------*/

.pack-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    padding: 5em;
}

.affiliate-link, #checkout-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #626262;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

#checkout-button{
    border: none;
    background-color: #3b60bc;
    cursor: pointer;
}

.links-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.links-container a, .links-container button{
    width: 100%;
}

.affiliate-link:hover {
    background-color: #838383;
}

#checkout-button:hover {
    background-color: #5877c6;
}

@media screen and (max-width: 768px) {
    .pack-item {
        grid-template-columns: repeat(1, 1fr);
    }
    .pack-item img {
        width: 100%;
        max-width: 500px;
        margin: auto;
    }
}
