body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
}

/*-------------- nav --------------*/

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #3498db;
}

nav ul li a:hover {
	text-decoration: underline;
}

/*-------------- Packs --------------*/

.packs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2em;
}

.packs-item {
	padding: 1em;
}

.packs-item a,
.news-item a,
.events-item a {
	text-decoration: none;
	color: black;
}

.packs-item img {
	width: 100%;
	aspect-ratio: 1/1;
	height: auto;
	object-fit: cover;
}

/*-------------- Individual Pack --------------*/

.pack-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5em;
	padding: 5em;
}

/*-------------- News Items --------------*/

.news-item, .events-item {
	display: flex;
	gap: 2em;
}

.news-item > div, .events-item > div {
	width: 100%;
}

.news-item img, .events-item img {
	height: 200px;
	width: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
}

@media screen and (max-width: 768px) {
	.pack-item {
		grid-template-columns: repeat(1, 1fr);
	}
	.pack-item img {
		width: 100%;
		max-width: 500px;
		margin: auto;
	}
}
