{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user-account.css') }}">
{% endblock %}

{% block body %}
    <h1>Compte utilisateur</h1>
    <p>Informations du compte utilisateur...</p>
{% endblock %}