{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block body %}
    <h1>Historique des commandes</h1>
    <p>Historique des commandes...</p>
{% endblock %}