<h1>Veuillez confirmer votre adresse email !</h1>

<p>
    Un mail de confirmation vous a été envoyé sur votre boîte mail. <br><br>
    Si vous ne le trouvez pas, veuillez vérifier votre dossier spam.
</p>

<p>
    Merci de rejoindre l'aventure ICO !
</p>